<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.co.fintalk.fintalkone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".FTApplication"
        tools:replace="theme, icon, label">
        <activity android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.calculator.CalculatorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.calculator.saving.SavingFirstActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.calculator.saving.SavingSecondActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.calculator.saving.SavingThirdActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.calculator.investment.InvestmentFirstActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.calculator.investment.InvestmentSecondActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.calculator.investment.InvestmentThirdActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.calculator.debt.DebtFirstActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.calculator.debt.DebtSecondActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.calculator.debt.DebtThirdActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.calculator.debt.detail.DebtSecondDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.calculator.debt.detail.DebtThirdDetailActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>